{% extends 'accounts/index.html' %} {% load widget_tweaks %} {% block heading %}
Retro Revive {% endblock heading %} {% block content %}
<!-- Registration form section -->
<form class="p-4 p-md-5 border rounded-6" method="POST">
  {% csrf_token %}
  <!-- Email input field with floating label -->
  <div class="form-floating mb-3">
    {% render_field form.email class="form-control" %}
    <label for="floatingInput">Email address</label>
  </div>
  <!-- Password input field with floating label -->
  <div class="form-floating mb-3">
    {% render_field form.password1 class="form-control" %}
    <label for="floatingInput">Enter Password</label>
  </div>
  <!-- Confirm Password input field with floating label -->
  <div class="form-floating mb-3">
    {% render_field form.password2 class="form-control" %}
    <label for="floatingInput">Confirm Password</label>
  </div>
  <!-- Sign-up button -->
  <button class="w-100 btn btn-lg submitbutton" type="submit">Sign Up</button>
  <!-- Horizontal line for visual separation -->
  <hr class="my-4" />
  <!-- Link to login page for existing users -->
  <small class="text-muted"
    >Already have an account? <a href="{% url 'login' %}">Sign In</a></small
  >
</form>
{% endblock content %}
