* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
body {
  min-height: 100vh;
  background: url("../assets/bg.png") no-repeat center center/cover;
  background-color: #090f16;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
a {
  color: #f5f5f7;
  text-decoration: none;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 70px;
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  padding-inline: 40px;
  flex-direction: row;
  align-items: center;
}
.navleft p {
  color: #e9e9e9;
  font-size: 1.5rem;
  font-weight: 600;
}
.navright {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.navright button {
  background-color: #f5f5f7;
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.navright button:hover {
  scale: 1.2;
  transition: all 0.5s ease;
}
.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background: linear-gradient(
    270.58deg,
    rgba(255, 255, 255, 0.08) 0.53%,
    rgba(121, 130, 149, 0.19) 97.87%
  );

  border-radius: 20px;
  padding: 20px;
  margin-top: 80px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    270.58deg,
    rgba(255, 255, 255, 0.08) 0.53%,
    rgba(121, 130, 149, 0.19) 97.87%
  );

  border-radius: 20px;
  padding: 20px;
}

.header h1 {
  color: #f5f5f7;
  text-align: center;
}
.header p {
  color: #f5f5f7;
  margin: 20px;
}

.options {
  background-color: #090f16;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #f5f5f7;
  margin: 20px;
  width: 80%;
  transition: all 0.8s ease;
}

.options h3 {
  font-weight: 200;
}

.options:hover {
  scale: 1.2;
  transition: 0.8s;
}

.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.model-card{
  padding: 40px 20px;
}

.model-img {
  border-radius: 20px;
  margin-top: 10px;
}


.btn {
  margin-top: 14px;
  background-color: #f5f5f7;
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover{
  scale: 1.2;
  transition: all 0.5s ease;
}