<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colorized Image</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Colorized Image</h1>
    <form id="uploadForm" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="image" />
      <button type="submit">Upload</button>
    </form>
    <h2>Original Image:</h2>
    <img
      id="originalImage"
      src="{{ original_image_url }}"
      alt="Original Image"
    />
    <div id="colorizedImageContainer"></div>

    <script>
      $(document).ready(function () {
        $("#uploadForm").submit(function (e) {
          e.preventDefault(); // Prevent form submission
          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: window.location.href,
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
              $("#colorizedImageContainer").html(
                '<h2>Colorized Image:</h2><img src="' +
                  data.colorized_image_url +
                  '" alt="Colorized Image">'
              );
            },
            error: function (xhr, status, error) {
              console.error(xhr.responseText);
            },
          });
        });
      });
    </script>
  </body>
</html>
