<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heart Disease Prediction</title>
  </head>
  <body>
    <h1>Heart Disease Prediction</h1>
    <form method="post">
      {% csrf_token %}
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required /><br /><br />

      <label for="sex">Sex:</label>
      <select id="sex" name="sex">
        <option value="1">Male</option>
        <option value="0">Female</option></select
      ><br /><br />

      <label for="cp">Chest Pain Type:</label>
      <input type="text" id="cp" name="cp" required /><br /><br />

      <label for="trestbps">Resting Blood Pressure (mm Hg):</label>
      <input type="number" id="trestbps" name="trestbps" required /><br /><br />

      <label for="chol">Serum Cholesterol (mg/dl):</label>
      <input type="number" id="chol" name="chol" required /><br /><br />

      <label for="fbs">Fasting Blood Sugar &gt; 120 mg/dl:</label>
      <select id="fbs" name="fbs">
        <option value="1">Yes</option>
        <option value="0">No</option></select
      ><br /><br />

      <label for="restecg">Resting Electrocardiographic Results:</label>
      <input type="text" id="restecg" name="restecg" required /><br /><br />

      <label for="thalach">Maximum Heart Rate Achieved:</label>
      <input type="number" id="thalach" name="thalach" required /><br /><br />

      <label for="exang">Exercise Induced Angina:</label>
      <select id="exang" name="exang">
        <option value="1">Yes</option>
        <option value="0">No</option></select
      ><br /><br />

      <label for="oldpeak"
        >ST Depression Induced by Exercise Relative to Rest:</label
      >
      <input
        type="number"
        id="oldpeak"
        name="oldpeak"
        step="0.01"
        required
      /><br /><br />

      <label for="slope">Slope of the Peak Exercise ST Segment:</label>
      <input type="text" id="slope" name="slope" required /><br /><br />

      <label for="ca"
        >Number of Major Vessels (0-3) Colored by Flourosopy:</label
      >
      <input
        type="number"
        id="ca"
        name="ca"
        min="0"
        max="3"
        required
      /><br /><br />

      <label for="thal">Thal:</label>
      <input type="text" id="thal" name="thal" required /><br /><br />

      <button type="submit">Predict</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %} {% if prediction %}
    <p>{{ prediction }}</p>
    {% endif %}
  </body>
</html>
